div,
row,
col {
  text-align: center;
}

body {
  background-color: #ffcbcb;
  color: #132743;
  font-family: Century Gothic, "Times New Roman", Times, serif;
}

/*Section 1*/
/*Section 2*/
/*Section 3*/
/*Section 4*/
/*Section 5*/
/*Section 6*/
