div,
row,
col {
  text-align: center;
}

body {
  background-color: #ffcbcb;
  color: #132743;
  font-family: Century Gothic, "Times New Roman", Times, serif;
  max-width: 70%;
  margin: 0 auto;
  margin-top: 30px;
  border: 5px solid #407088;
  border-radius: 5px;
}

/*Section 1 Welcome*/
#sec1 {
  margin: 20px;
  margin-bottom: 0px;
}

/*Section 2 Date and Time*/
#sec2 {
  margin: 20px;
  margin-top: 0px;
  font-size: 15px;
}
/*Section 3 Search Form*/
#sec3 {
  margin: 20px;
  margin-bottom: 0px;
  padding-top: 20px;
}
#sec3Example {
  padding: 5px;
}
#searchSubmit {
  border: 3px solid #407088;
  border-radius: 3px;
  color: #ffcbcb;
  font-weight: bold;
  background-color: #407088;
}
/*Section 4 Use Current Location*/
#sec4 {
  margin-bottom: 20px;
  margin-top: 0px;
}

#geoLocation {
  border: 3px solid #407088;
  border-radius: 3px;
  color: #ffcbcb;
  font-weight: bold;
  background-color: #407088;
}
/*Section 5 Current Weather Response*/
#sec5 {
  margin: 10px;
}

#sec5C2subC1R2 {
  margin-bottom: 20px;
}

#sec5Button {
  max-width: fit-content;
  margin: 0 auto;
  border: 3px solid #407088;
  border-radius: 3px;
  color: #ffcbcb;
  font-weight: bold;
  background-color: #407088;
}
/*Section 6 5-Day Forecast*/
#sec6 {
  margin-bottom: 50px;
  margin-top: 25px;
}

/*Section 7 Footer*/
#sec7 {
  font-size: 10px;
}
